PORT=8000
GIN_MODE=debug

DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=password
DB_NAME=nyarikos
DB_SSLMODE=disable

JWT_SECRET=secret
JWT_EXPIRATION_TIME=24h
REFRESH_TOKEN_EXPIRATION_TIME=72h

AWS_REGION=ap-southeast-3
AWS_ACCESS_KEY_ID=test
AWS_SECRET_ACCESS_KEY=secret
AWS_S3_BUCKET_NAME=nyarikos-uploads
AWS_S3_ENDPOINT=http://localhost:9000

UPLOAD_PATH=./uploads
MAX_UPLOAD_SIZE=10485760
UPLOAD_PROVIDER=s3

GOOGLE_CLIENT_ID=1234D3R4R32RW3R32RW3R3WR3WR3WR3W
GOOGLE_CLIENT_SECRET=MASRUSDI
GOOGLE_REDIRECT_URL=TES

MIDTRANS_MERCHANT_ID=xixixixi
MIDTRANS_CLIENT_KEY=xixixixi
MIDTRANS_SERVER_KEY=xixixixi
MIDTRANS_ENV=sandbox

REDIS_ADDR=localhost:6379
REDIS_PASSWORD=
REDIS_DB=0
